.loader {
  position: absolute;
  top: 50%;
  left: 47%;
}

.spinner-layer {
  border-color: white;
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
  background-color: #1976D2;
  opacity: 1;
  transition: opacity 900ms linear 0ms;
}
